<h1>Welcome to <%= @crm_app_name %>!</h1>
<p>Main menu</p>
<ul>
  <li><a href="/contacts">View all contacts</a></li>
  <li><a href="/contacts/new">Add a contact</a></li>
  <li><a href="/contacts/modify">Modify a contact</a></li>
  <li><a href="/view_contact">View a contact</a></li>
  <li><a href="/view_contact_attribute">View a contact's attribute</a></li>
  <li><a href="/delete_contact">Delete a contact</a></li>
</ul>