<!DOCTYPE html>
<html>
  <head>
	<title> The Best Webpage Ever </title>
  </head>
  <header> Welcome to the CRM program! </header>
  <body>
    <%= yield %>
  </body>
  <footer> Copyright AB LLC </footer>
</html>